
*{
    padding: 0;
    margin: 0;
}
body{
     font-family: Barlow,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
}
/*HEADER*/
header{
    background-color: rgb(146, 92, 54);
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    margin-top: 36px;
    margin-bottom: 64px;
}
/* button{
    display: flex;
    font-weight: bold;
    height: 48px;
    width: 151px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
button:hover{
    opacity: 0.75;
} */
.btn-grey{
    color:brown
    background-color: gray;
}
.btn{
    font-weight: bold;
    height: 48px;
    width: 151px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}
