
*{
    padding: 0;
    margin: 0;
}

/*HEADER*/
header{
    background-color: rgb(146, 92, 54);
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 80%;
    margin-top: 36px;
    margin-bottom: 64px;
}
.button button-grey{

}
button{
    font-family:"Barlow",sans-serif;
    font-weight: 100px;
    height: 64px;
    width: 150px;
}